@*/* Author: Madhan KAMALAKANNAN  
 Created : Created 29/Aug/2021
 Modified: 12/Dec/2021  
 */*@

@model OnlineShoppingCart.Models.Product

@{
    ViewData["Title"] = "Delete";
   
}
                        
                   @{
    Layout = "../../Pages/Shared/SOP_Purple_Layout_Login";
}

<div style="color:#3b2142">
    <h1 style=color142">Delete</h1>

<h3 style="color:#3b2142">Are you sure you want to delete this?</h3>
    <h4>Product</h4>
    <hr />
    <table>
        <tr>
            <td>  @Html.DisplayNameFor(model => model.Name) :</td> 
             <td>@Html.DisplayFor(model => model.Name)</td> 
        </tr>
            <tr>
            <td>  @Html.DisplayNameFor(model => model.Description) :</td> 
             <td>@Html.DisplayFor(model => model.Description)</td> 
        </tr>
            <tr>
            <td>  @Html.DisplayNameFor(model => model.Price) :</td> 
             <td>@Html.DisplayFor(model => model.Price)</td> 
        </tr>
            <tr>
            <td>  @Html.DisplayNameFor(model => model.ProductPic) :</td> 
             <td>@Html.DisplayFor(model => model.ProductPic)</td> 
        </tr>
            <tr>
            <td>  @Html.DisplayNameFor(model => model.ProductReview) :</td> 
             <td>@Html.DisplayFor(model => model.ProductReview)</td> 
        </tr>
            <tr>
            <td>  @Html.DisplayNameFor(model => model.ActivationCodes) :</td> 
             <td>@Html.DisplayFor(model => model.ActivationCodes)</td> 
        </tr>
        <tr> <td>
                    <input type="hidden" asp-for="Id" />
        <button onclick="DeleteProduct(@Model.Id)"  style="background-color:#3b2142;font-size:xx-small;font-size-adjust:" >Delete</button>
 
            </td>
            <td> 
                       <a  style="color:#3b2142;background-color:#;font-size:small;" href="Index">Back to List</a>
            </td>  </tr>
        </table>
  
    
    

    
</div>
