@model OnlineShoppingCart.Models.Product

@{
    ViewData["Title"] = "Details";
 
}
    
                   @{
    Layout = "../../Pages/Shared/SOP_Purple_Layout_Login";
}
<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationCodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivationCodes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
